body{
    background: linear-gradient(180deg, #EDD3BA 0%, rgba(237, 211, 186, 0.00) 100%), #FFF;
    font-family: 'Public Sans Variable', sans-serif;
    font-size: 16px;
}

.bebas{
    font-family: 'Bebas Neue', sans-serif;
}
.border{
    border: 10px solid black !important;
    border-left-width: 25px !important;
    border-right-width: 25px !important;
}
.button{
    font-family: 'Bebas Neue', sans-serif;
    background-color: #F2BB35;
    color: black;
    border: none;   
    border-radius: 0%;
}
.heading{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}
.image{
    width: 100%;
}
.small-image{
    width: 80%;
        margin: 50px;
}

.text-right{
    text-align: right !important;
}

/* NAVIGATION */
.navigation-container{
    background-color: #EDD3BA;

}

.navbar{
    width: 100%;
 
}

.navigation-item{
    font-size: 40px;
}
button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
  }
.slide-menu-container{
    position: fixed;
    top: 0;
    right: 0;
height: 1000px;
width: 250px;
background-color: black !important;
font-size: 40px;
color: white;
z-index: 99;
}
@keyframes slide-in {
    from {
        transform: translateX(300px)  translateY(-312px);
    }
    to{
        transform: translateX(0px) translateY(-312px);
        
    }
}
@keyframes slide-out {
    from {
        transform: translateX(0px)  translateY(-312px);
    }
    to{
        transform: translateX(300px)  translateY(-312px);
        visibility: hidden;
    }
}
.slide-menu-open{
    animation: forwards slide-in 1000ms;

}
.slide-menu-closed{
    animation: forwards slide-out 1000ms;
} 


.shueys-logo{
    position: relative;
    top: 90px;
}
/* FOOTER */
.footer-container{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;

}
.footer-heading{
    font-size: 32px;
}
.footer-text{
    font-size: 20px;
}


/* HOME */
.welcome-image{
width: 100%;
}

.specials-image{
    width: 100%;
}

.review-carousel{
    background-color: #161616A6;
    opacity: 65%;
    color: white;
    width: 100%;
    height: 336px;
}




/* MENU */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.menu-banner{
    width: 100%;
    border: 5px solid black;
    border-left-width: 0px ;
    border-right-width: 0px ;
}

.menu-navigation{
    font-family: 'Bebas Neue', sans-serif;
    color: black;
}

.menu-subtitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
   text-align: center;
}
.menu-subtitle-description{
    font-family: 'Public Sans Variable', sans-serif;
    font-size: 14px;
    text-align: center;
}
.menu-item-title{

    font-family: 'Bebas Neue', sans-serif;

    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 16px;
}

.menu-item-description{
    font-family: 'Public Sans Variable', sans-serif;

    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 40px;
}

.menu-carousel{
    border: 15px solid black;
    border-left-width: 25px ;
    border-right-width: 25px ;
}

/* CONTACT */
.hours-container{

}

/* APPLY */
.form{
    background-color: #161616A6;
}
.form-input{
    color: white;
    border-radius: 0% !important;
}
.form-control{

    border-radius: 0% !important;
}
.form-text{
    color: white;
    border-radius: 0% !important;
}
.apply-container{
    max-width: 70%;
}

/* ABOUT */
.border-vertical{
    border: black 15px solid;
    border-top-width: 35px;
    border-bottom-width: 35px;
}

/* APPLY */
.form{
    max-width: 60%;
    min-width: 60%;
}

/* MOBILE DEVICES */
@media screen and (width <= 480px){
    /* NAVIGATION */
    
     .shueys-logo{
        position: relative;
        top: 35px;
    }

    .page-title{
        font-size: 36px;
    }

    .sub-heading{
        font-size: 36px;
    }

    .menu-navigation{

        font-size: 24px;
    }

    .subtitle-row{
        text-align: center;
    }
    .menu-subtitle{
        font-size: 32px;
    }

    .menu-subtitle-description{
        font-size: 14px;
    }

    .menu-row{
        text-align: center;
    }

}


/* SMALL: TABLETS */
@media screen and (481px <= width <= 768px){
        /* NAVIGATION */
        .navigaton{
            display: none;
        }
     .shueys-logo{
        position: relative;
        top: 50px;
    }
    .facebook-logo-footer{
        width: 55px;
    }

    .sub-heading{
        font-size: 40px;
    }
    /* CONTACT */
.location{
    text-align: left !important;
    margin-left: 100px;
}
.phone-number{
    text-align: left !important;
}

}

/* MEDIUM: SMALL SCREENS & LAPTOPS */
@media screen and (769px <= width <= 1024px){
     /* NAVBAR */
 .navbar{
    height: 120px;
}
.shueys-logo{
    position: relative;
    top: 60px;
}
.facebook-logo-footer{
    width: 55px;
}
.heading{
    font-size: 48px;
}
.sub-heading{
    font-size: 40px;
}
.public-sans{
    font-size: 24px;
}
/* MENU */
.menu-container{
    padding:6%
}
.menu-navigation{
    font-size: 36px;
}
.skew-right{
    margin-left: 90px;
}
.appetizer-container{
    margin-left: 100px;
}
.menu-subtitle{
    font-size: 40px;
    text-align: left;
}
.menu-subtitle-description{
    font-size: 16px;
    text-align: left;
}

.menu-item-title{
    text-align: left;
    font-size: 36px;
}

.menu-item-description{
    text-align: left;
    font-size: 16px;
}

}

/* LARGE: LARGE SCREENS & DESKTOPS */
@media screen and (1025px <= width <= 1200px){
 /* NAVBAR */
 .navbar{
    height: 120px;
}
/* MENU */
.menu-container{
    padding: 10%;
}

.heading{
    font-size: 64px;
}
.sub-heading{
    font-size: 48px;
}
.menu-navigation{
    font-size: 36px;
}
.skew-right{
    margin-left: 150px;
}
.appetizer-container{
    margin-left: 100px;
}
.menu-subtitle{
    font-size: 48px;
    text-align: left;
}
.menu-subtitle-description{
    font-size: 20px;
    text-align: left;
}
.menu-item-title{
    text-align: left;
    font-size: 36px;
}

.menu-item-description{
    text-align: left;
    font-size: 16px;
}
/* APPLY */
.apply-container{
    max-width: 20% !important;
}
.form{
    max-width: 45%;
    min-width: 45%;
}

}

/* EXTRA LARGE SCREENS */
@media screen and (1201px <= width){
    .navbar{
        height: 120px;
    }

    .nav-link{
        font-size: 40px;
        margin-left: 20px;
        margin-right: 20px;
        color: black;
    }

    .footer-text{
        font-size: 24px;
    }
.heading{
    font-size: 64px;
}
    /* MENU */
.menu-container{
    padding: 10%;
}
.skew-right{
    margin-left: 350px;
}
.menu-navigation{
    font-size: 40px;
}
.menu-subtitle{
    font-size: 48px;
    text-align: left;
}
.menu-subtitle-description{
    font-size: 20px;
    text-align: left;
}
.menu-item-title{
    text-align: left;
    font-size: 40px;
}

.menu-item-description{
    text-align: left;
    font-size: 20px;
}

/* APPLY */
.form{
    max-width: 45%;
    min-width: 45%;
}
}